@font-face {
  font-family: "Eastman";
  src: url("Fonts/Eastman-Light.woff") format("woff");
  font-weight: 300;
  font-style: medium;
}
@font-face {
  font-family: "Eastman";
  src: url("Fonts/EastmanAlternate-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Eastman";
  src: url("Fonts/EastmanAlternate-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
    background-color: rgb(181,244,188);
    text-decoration: none;
    font-family: "Eastman", sans-serif;
    font-weight: 300;
  }

  h1{
    font-weight: 500;  
  }
  h2{
    font-weight: 500;
  }
  #buttons {
display: flex;

  }
  
  button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    outline: 2px solid #000000; /* 2px wide black outline */
    outline-offset: 2px; /* Space between outline and button */
    font-weight: 500;
  }
  

  button:hover {
  box-shadow: 0 0 0 3px #000000; 
  }


  button:active {
  box-shadow: 0 0 0 4px #000000; 
  }
  
  #timer {
    margin-top: 20px;
    font-size: 20px;
  }
  

  #color1 {
    background-color: rgb(248,194,165);
  }
  
  #color2 {
    background-color: rgb(254,241,168);
  }
  
  #color3 {
    background-color: rgb(171,224,236);
  }
  
  #color4 {
    background-color: rgb(181,244,188);
  }
  
  #color5 {
    background-color: rgb(254,206,236);
  }

  #font1 {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
  }

  #font2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #font3 {
    font-family: 'Courier New', Courier, monospace;
  }

  #font4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #font5 {
    font-family: 'Times New Roman', Times, serif;
  }
  
  


/* Hide scrollbar for all elements on the page */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
